<ion-content [fullscreen]="true" class="fondo">
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/icon/serie5.jpeg" />
    <ion-card-header>
      <ion-card-title>Peaky Blinders</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      "Peaky Blinders" sigue a los Shelby, una familia de criminales líderes de una banda en la posguerra de Birmingham. Tomando su nombre de las navajas ocultas en sus gorras, los Peaky Blinders enfrentan amenazas internas y externas mientras luchan por el poder en un mundo implacable. Cillian Murphy brilla en el papel de Thomas Shelby, el carismático líder de la banda. Con giros emocionantes y atmósfera cautivadora, la serie es una joya del drama criminal.

    </ion-card-content>

    <div class="button-container">
      <ion-button fill="clear" slot="" class="heart-button">
        <ion-icon slot="icon-only" name="heart-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="" class="heart-button">
        <ion-icon slot="icon-only" name="bookmark-outline" color="dark"></ion-icon>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline" size="large" slot="start" color="dark"></ion-icon>
        <ion-input placeholder="Comentar"></ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon slot="icon-only" name="send-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline" color="dark" size="large" style="margin-right: 10px; margin-bottom: 47%;"></ion-icon>
        <ion-label>
          <h2>Usuario</h2>
          <p style="margin-top: 5%;">
            "Peaky Blinders" te sumerge en el turbulento mundo de los gangsters con un estilo y audacia sin igual. Encabezada por Cillian Murphy, la serie traza la ascensión feroz de los Shelby en la peligrosa Birmingham posguerra. Intriga, traiciones y el carisma de los protagonistas convergen en un épico drama criminal que cautiva de principio a fin.</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <a [routerLink]="['/home']"> 
        <ion-button>
          <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
        </ion-button>
        </a>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="search" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="heart" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle" color="dark"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>