<ion-content [fullscreen]="true" class="fondo">
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/icon/serie4.jpg" />
    <ion-card-header>
      <ion-card-title>Loki</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      En "Loki", el carismático Dios de las Travesuras se enfrenta a las consecuencias de robar el Teseracto y alterar la línea de tiempo. Forzado a colaborar con la Autoridad de Variación Temporal (AVT), se enreda en una lucha contra la malevolente Variante. La serie explora la identidad y el propósito de Loki mientras se sumerge en un multiverso de intrigas.

    </ion-card-content>

    <div class="button-container">
      <ion-button fill="clear" slot="" class="heart-button">
        <ion-icon slot="icon-only" name="heart-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="" class="heart-button">
        <ion-icon slot="icon-only" name="bookmark-outline" color="dark"></ion-icon>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline" size="large" slot="start" color="dark"></ion-icon>
        <ion-input placeholder="Comentar"></ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon slot="icon-only" name="send-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline" color="dark" size="large" style="margin-right: 10px; margin-bottom: 47%;"></ion-icon>
        <ion-label>
          <h2>Usuario</h2>
          <p style="margin-top: 5%;">
            ¡"Loki" desencadena un viaje épico y enigmático que redefine el universo Marvel! Tom Hiddleston retoma su icónico papel, llevando al Dios de las Travesuras a nuevas dimensiones de caos y redención. Con intriga cósmica, giros asombrosos y el ingenio característico de Loki, la serie se convierte en una experiencia televisiva inolvidable.</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <a [routerLink]="['/home']"> 
        <ion-button>
          <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
        </ion-button>
        </a>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="search" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="heart" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle" color="dark"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>