<ion-content [fullscreen]="true" class="fondo">
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/icon/pelicula5.jpg" />
    <ion-card-header>
      <ion-card-title>Busqueda Implacable</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      En "Búsqueda Implacable", Bryan Mills, exagente, persigue despiadadamente a los secuestradores de su hija en una carrera contrarreloj. Una película de acción intensa que te mantendrá al borde del asiento.

    </ion-card-content>

    <div class="button-container">
      <ion-button fill="clear" slot="" class="heart-button">
        <ion-icon slot="icon-only" name="heart-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="" class="heart-button">
        <ion-icon slot="icon-only" name="bookmark-outline" color="dark"></ion-icon>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline" size="large" slot="start" color="dark"></ion-icon>
        <ion-input placeholder="Comentar"></ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon slot="icon-only" name="send-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline" color="dark" size="large" style="margin-right: 10px; margin-bottom: 47%;"></ion-icon>
        <ion-label>
          <h2>Usuario</h2>
          <p style="margin-top: 5%;">"Búsqueda Implacable" es pura adrenalina. Liam Neeson desata su furia como Bryan Mills, un padre que se convierte en un tornado de acción para salvar a su hija. La trama vertiginosa y las secuencias emocionantes te mantienen pegado a la pantalla.</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <a [routerLink]="['/home']"> 
        <ion-button>
          <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
        </ion-button>
        </a>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="search" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="heart" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle" color="dark"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>
