<ion-header>
  <ion-toolbar class="fondo">
    <ion-title style="margin-left: 37%;">Mi lista</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="fondo">
  <h2 style="color: white; margin-left: 2%;">Mis series y peliculas</h2>
  <div class="grid-container">
    <ion-card class="list-inline-item" >
      <a [routerLink]="['/serie1']"> <!-- Cambio aquí -->
        <img src="/assets/icon/poster6.jpg" alt="Póster 1" style="max-width: 130px; height: auto;">
      </a>
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
      <a [routerLink]="['/pelicula4']"> <!-- Cambio aquí -->
        <img src="/assets/icon/poster4.jpeg" alt="Póster 1" style="max-width: 130px; height: auto;">        </a>
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
      <a [routerLink]="['/serie2']"> <!-- Cambio aquí -->
        <img src="/assets/icon/poster7.jpg" alt="Póster 1" style="max-width: 130px; height: auto;">
      </a>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <a [routerLink]="['/home']"> 
      <ion-button>
        <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
      </ion-button>
      </a>
      <a [routerLink]="['/buscar']"> 
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="search" color="dark"></ion-icon>
      </ion-button>
      </a>
      <a [routerLink]="['/milista']"> 
      <ion-button>
        <ion-icon slot="icon-only" name="heart" color="dark"></ion-icon>
      </ion-button>
      </a>
      <a [routerLink]="['/miperfil']"> 
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle" color="dark"></ion-icon>
      </ion-button>
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>