.fondo{
  --background: none;
  background: url('/assets/icon/fondo.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.container {
  margin: 40% auto; /* Esto centra el contenedor verticalmente */
  background-color: white;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
}