<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title><img src="/assets/icon/Fanaticsfilm.png" alt="Logo" style="width: 50%;"></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- Botones del menú -->
      <ion-list>
        <ion-item >
          <ion-icon slot="start" name="home"></ion-icon>
          Inicio
        </ion-item>
        <ion-item >
          <ion-icon slot="start" name="heart"></ion-icon>
          Mi Lista
        </ion-item>
        <ion-item >
          <ion-icon slot="start" name="person"></ion-icon>
          Perfil
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
