<ion-header>
  <ion-toolbar>
    <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="fondo">
  <div class="scroll-container" style="margin-top: 5%;">
    <ion-card class="list-inline-item" style="margin-left: 2%;" >
        <img src="/assets/icon/estreno1.jpg" alt="estreno" style="max-width: 130px; height: auto; ">
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
        <img src="/assets/icon/estreno2.jpg" alt="estreno" style="max-width: 130px; height: auto;">
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
        <img src="/assets/icon/estreno3.jpeg" alt="estreno" style="max-width: 130px; height: auto;">
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
        <img src="/assets/icon/estreno4.jpg" alt="estreno" style="max-width: 130px; height: auto;">
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
        <img src="/assets/icon/estreno5.jpg" alt="estreno" style="max-width: 130px; height: auto;">
    </ion-card>
  </div>
  <div class="scroll-container" style="margin-top: 5%;">
    <ion-card class="list-inline-item" style="margin-left: 2%;" >
        <img src="/assets/icon/estreno1.jpg" alt="estreno" style="max-width: 130px; height: auto; ">
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
        <img src="/assets/icon/estreno2.jpg" alt="estreno" style="max-width: 130px; height: auto;">
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
        <img src="/assets/icon/estreno3.jpeg" alt="estreno" style="max-width: 130px; height: auto;">
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
        <img src="/assets/icon/estreno4.jpg" alt="estreno" style="max-width: 130px; height: auto;">
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
        <img src="/assets/icon/estreno5.jpg" alt="estreno" style="max-width: 130px; height: auto;">
    </ion-card>
  </div>
  <div class="scroll-container" style="margin-top: 5%;">
    <ion-card class="list-inline-item" style="margin-left: 2%;" >
        <img src="/assets/icon/estreno1.jpg" alt="estreno" style="max-width: 130px; height: auto; ">
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
        <img src="/assets/icon/estreno2.jpg" alt="estreno" style="max-width: 130px; height: auto;">
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
        <img src="/assets/icon/estreno3.jpeg" alt="estreno" style="max-width: 130px; height: auto;">
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
        <img src="/assets/icon/estreno4.jpg" alt="estreno" style="max-width: 130px; height: auto;">
    </ion-card>
    <ion-card class="list-inline-item" style="margin-left: 1%;">
        <img src="/assets/icon/estreno5.jpg" alt="estreno" style="max-width: 130px; height: auto;">
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <a [routerLink]="['/home']"> 
      <ion-button>
        <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
      </ion-button>
      </a>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="search" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="heart" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle" color="dark"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>