
<ion-header>
  <ion-toolbar class="fondo">
    <ion-searchbar placeholder="Buscar" style="margin-top: 5%;"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content class="fondo">
  <div class="grid-container">
    <ion-card *ngFor="let image of images; let i = index" class="grid-item">
      <img [src]="image" alt="estreno" >
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <a [routerLink]="['/home']"> 
      <ion-button>
        <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
      </ion-button>
      </a>
      <a [routerLink]="['/buscar']"> 
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="search" color="dark"></ion-icon>
      </ion-button>
      </a>
      <a [routerLink]="['/milista']"> 
      <ion-button>
        <ion-icon slot="icon-only" name="heart" color="dark"></ion-icon>
      </ion-button>
      </a>
      <a [routerLink]="['/miperfil']"> 
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle" color="dark"></ion-icon>
      </ion-button>
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>