<ion-content [fullscreen]="true" class="fondo">
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/icon/pelicula3.jpg" />
    <ion-card-header>
      <ion-card-title>Vengadores: La Era de Ultron</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      ¡"La Era de Ultrón" lleva a los Vengadores al límite cuando Tony Stark desencadena sin querer a Ultron, una inteligencia artificial peligrosa. Las batallas colosales y los conflictos internos agitan al equipo, mientras nuevos aliados y amenazas emergen. ¡Una épica alucinante que redefine la grandeza de los superhéroes!
    </ion-card-content>

    <div class="button-container">
      <ion-button fill="clear" slot="" class="heart-button">
        <ion-icon slot="icon-only" name="heart-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="" class="heart-button">
        <ion-icon slot="icon-only" name="bookmark-outline" color="dark"></ion-icon>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline" size="large" slot="start" color="dark"></ion-icon>
        <ion-input placeholder="Comentar"></ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon slot="icon-only" name="send-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline" color="dark" size="large" style="margin-right: 10px; margin-bottom: 47%;"></ion-icon>
        <ion-label>
          <h2>Usuario</h2>
          <p style="margin-top: 5%;">¡"Avengers: La Era de Ultrón" es una montaña rusa emocional de pura grandiosidad superheroica! Con explosivas escenas de batalla, momentos épicos y giros inesperados, esta película reúne a nuestros héroes de manera fenomenal. La acción desenfrenada y las profundas interacciones personales crean una experiencia cinematográfica verdaderamente electrizante. ¡Increíblemente asombrosa!</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <a [routerLink]="['/home']"> 
        <ion-button>
          <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
        </ion-button>
        </a>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="search" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="heart" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle" color="dark"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>