<ion-content class="fondo">
  <div class="container login">
       <ion-icon name="person-circle-outline" size="large" ></ion-icon>
    <h5>Iniciar sesión</h5>
    <!-- Contenido del formulario de inicio de sesión -->
 
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

      <ion-row>
        <ion-button style="margin-top: 5vh;"  (click)="login()">Ingresar</ion-button>
        <ion-button style="margin-top: 5vh;"  (click)="registro()">Registrar</ion-button>
      </ion-row>
   
  </div>
  
</ion-content>
        
        
