.fondo{
    --background: none;
    background: url('/assets/icon/fondo.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

.container {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 400px; /* Limitamos el ancho máximo del contenedor */
}