<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark" cauto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/icon/Fanaticsfilm.png" alt="Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>¡Bienvenidos a Fanatics Film!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Estamos emocionados de recibir a todos los amantes del cine y las series. En esta comunidad apasionada, tu voz es
      fundamental. Comenta y comparte tus impresiones siempre teniendo en mente que el respeto mutuo es la clave para
      construir un espacio cinéfilo inigualable.
    </ion-card-content>
  </ion-card>
</ion-content>