<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark" cauto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/icon/Fanaticsfilm.png" alt="Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">

  <swiper-container
  #swiper
  (afterinit)="swiperReady()"
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true"
  [pagination]="true"
  [autoplay]="false"
  [effect]="'cards'"
  [spacebetween]="10"
>
  <swiper-slide *ngFor="let image of images" class="w-fit" >
    <div class="swiper-zoom-container">
      <img [src]="image" />
    </div>
  </swiper-slide>
</swiper-container>
 
</ion-content>