<ion-content [fullscreen]="true" class="fondo">
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/icon/serie2.jpeg" />
    <ion-card-header>
      <ion-card-title>Grey's Anatomy</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      "Grey's Anatomy" narra las vidas y desafíos de jóvenes médicos mientras aprenden a equilibrar el caos de la sala de operaciones con sus propias relaciones y crisis personales. Con un enfoque en la medicina y el drama humano, la serie se ha convertido en un ícono de la televisión.

    </ion-card-content>

    <div class="button-container">
      <ion-button fill="clear" slot="" class="heart-button">
        <ion-icon slot="icon-only" name="heart-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="" class="heart-button">
        <ion-icon slot="icon-only" name="bookmark-outline" color="dark"></ion-icon>
      </ion-button>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline" size="large" slot="start" color="dark"></ion-icon>
        <ion-input placeholder="Comentar"></ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon slot="icon-only" name="send-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline" color="dark" size="large" style="margin-right: 10px; margin-bottom: 47%;"></ion-icon>
        <ion-label>
          <h2>Usuario</h2>
          <p style="margin-top: 5%;">"Grey's Anatomy" es un emocionante drama médico que ha capturado los corazones de millones. A lo largo de sus temporadas, sigue las vidas y carreras de un grupo de médicos en el Grey Sloan Memorial Hospital, tejiendo intriga, romance y dilemas éticos en una narrativa cautivadora.</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <a [routerLink]="['/home']"> 
        <ion-button>
          <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
        </ion-button>
        </a>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="search" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="heart" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle" color="dark"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>